@font-face {
    font-family: "Folks";
    src: url(../font/folks.ttf);
    font-style: normal;
    font-weight: normal;
    font-display: auto;
}
@font-face {
    font-family: "Folks";
    src: url(../font/folksb.ttf);
    font-style: normal;
    font-weight: bold;
    font-display: auto;
}
@font-face {
    font-family: "Misses";
    src: url(../font/Misses.otf);
    font-style: normal;
    font-weight: normal;
    font-display: auto;
}

:root {
    --cor_principal: #5b014f;
    --cor_secundaria: #ffb300;
}

::selection {
    color: var(--cor_principal);
    background-color: var(--cor_secundaria);
}

body,
p {
    font-size: 18px;
    font-family: "Folks", sans-serif;
}

p {
    margin-bottom: 30px;
}

a {
    outline: none !important;
    text-decoration: none !important;
}

section {
    margin: 0;
    padding: 90px 0;
}

.pctext {
    color: var(--cor_principal);
}

.sctext {
    color: var(--cor_secundaria);
}

.button {
    position: relative;
    display: inline-block;
    padding: 6px 12px 6px 12px;
    background: var(--cor_principal);
    color: white;
    border: none;
    outline: none;
    border-radius: 8px 0;
    overflow: hidden;
    transition: color 0.25s linear;
}

.button:hover {
    color: var(--cor_secundaria);
}

.button.big {
    padding: 8px 16px 8px;
    border-radius: 10px 0;
    font-size: 22px;
}

.button.icon {
    padding: 6px 48px 6px 12px;
}

.button.big.icon {
    padding: 8px 58px 8px 16px;
}

.button.icon i {
    position: absolute;
    width: 36px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
    top: 0;
    left: auto;
    right: 0;
}

.button.big.icon i {
    width: 42px;
}

.button.icon i::before {
    position: absolute;
    display: block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.socialbar {
    display: flex;
    justify-content: left;
    list-style: none;
    margin-bottom: 30px;
    padding: 0;
    font-size: 1.5rem;
}

.socialbar li {
    margin-right: 12px;
}

.socialbar li:last-child {
    margin-right: 0;
}

.socialbar li a {
    display: block;
    color: var(--cor_secundaria);
}

.socialbar li a:hover {
    color: white;
}

.listcontactforms {
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}

.listcontactforms li i {
    margin-right: 8px;
}

/* Headers */

h1,
h2 {
    font-family: "Misses", sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 42px;
}

h2 {
    font-size: 2.5rem;
}

h3,
h4 {
    font-family: "Folks", sans-serif;
}

h4 {
    font-weight: bold;
    margin-bottom: 18px;
}

h4 + h1 {
    margin-top: -25px;
}

/* End headers */

/* Navbar */

header {
    width: 100%;
    height: 100%;
}

#navbar {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: var(--cor_principal);
    font-size: 22px;
    z-index: 999;
}
.navbarwrapp {
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

a.brand {
    display: block;
    margin-right: 30px;
    width: auto;
}

#navcontent {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    font-weight: bold;
}

#navbar #navcontent .socialbar {
    margin: 0 0 0 45px;
}

.navlinks {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navlinks li {
    position: relative;
}

.navlinks li a {
    display: block;
    padding: 0 15px;
    height: 90px;
    line-height: 90px;
    color: white;
    text-transform: uppercase;
}

#navcontent .navlinks li a:hover {
    color: var(--cor_principal);
}

#navcontent .navlinks li a::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: -1;
    transition: width 0.35s;
    transition-timing-function: cubic-bezier(0, 0.45, 0.65, 1);
}

#navcontent .navlinks li a:hover::before {
    width: 100%;
}

/* End navbar */

/* mobile Navbar */

#mobileNavContent {
    display: none;
}

#mobileNavContent .navlinks {
    display: block;
    text-align: center;
}

#mobileNavContent .socialbar {
    justify-content: center;
}

#nav-icon {
    display: none;
    width: 50px;
    height: 35px;
    position: relative;
    margin-left: auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: white;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(2) {
    top: 14px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon span:nth-child(3) {
    top: 28px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-icon.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 32px;
    left: 8px;
}

/* End mobile Navbar */

/* Top banner */

#topbanner {
    position: relative;
    padding-top: 180px;
    display: block;
    background-color: var(--cor_secundaria);
    background-size: 100% 300%;
    width: 100%;
    height: 700px;
    overflow: hidden;
}

#topbanner .slider {
    position: relative;
    z-index: 99;
}

#topbanner .slider .content {
    text-align: left;
}

#topbanner .slider .content h1 {
    color: var(--cor_secundaria);
    text-shadow: 2px 2px var(--cor_principal);
}

#topbanner .slider .content p {
    color: white;
    font-size: 22px;
}

#topbanner .parallax {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 1050px;
    z-index: 1;
}

#topbanner .parallax img {
    min-width: 100%;
    height: 100%;
    object-position: 50% 50%;
    object-fit: cover;
}

#topbanner .wave {
    position: absolute;
    margin-left: -1980px;
    left: 50%;
    bottom: 0;
    display: block;
    height: 180px;
    width: 3840px;
    background-image: url(../img/mask_wave.svg);
    z-index: 3;
}

/* End top banner */

/* Footer */

footer {
    color: white;
}

#footer {
    display: block;
    padding: 90px 0;
    background-color: #6b1a60;
}

#footer .listcontactforms li i {
    color: var(--cor_secundaria);
}

#sitemap {
    background-color: var(--cor_principal);
}

#sitemap ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#sitemap ul li {
    display: inline;
}

#sitemap ul li a {
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

#sitemap ul li a:hover {
    background-color: #6b1a60;
    color: var(--cor_secundaria);
}

#copyright {
    display: block;
    padding: 6px 0;
    background-color: black;
    color: #495357;
    font-size: 14px;
    text-align: center;
}

#copyright a {
    color: white;
}

#copyright a:hover {
    color: var(--cor_secundaria);
}

/* End footer */

.roundcardinfo {
    position: relative;
    background-color: white;
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 100%;
    overflow: hidden;
    border: 3px white solid;
    border-radius: 50%;
    box-sizing: border-box;
    opacity: 0;
}

.roundcardinfo.animated {
    opacity: 1;
}

.roundcardinfo a {
    display: block;
}

.roundcardinfo img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.roundcardinfo .info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.35s ease-in;
}

.roundcardinfo.yellow .info {
    background-color: rgba(255, 179, 0, 0.5);
}

.roundcardinfo.pink .info {
    background-color: rgba(204, 0, 118, 0.5);
}

.roundcardinfo.green .info {
    background-color: rgba(118, 204, 0, 0.5);
}

.roundcardinfo .info h2 {
    color: var(--cor_principal);
}

.roundcardinfo a:hover + .info {
    opacity: 1;
    visibility: visible;
}

.cardproduct {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    padding: 15px;
    background-color: white;
    border: 1px solid #deccdb;
    text-align: center;
    border-radius: 6px;
    opacity: 0;
}

.cardproduct.animated {
    opacity: 1;
}

.cardproduct figure {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.cardproduct figure img {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Media queries */

/* Medium devices (tablets, 991px and down) */
@media (max-width: 576px) {
    #topbanner .wave {
        display: none;
    }
}

@media (max-width: 991px) {
    #nav-icon {
        display: block;
    }

    #navcontent {
        display: none;
    }

    #mobileNavContent {
        position: absolute;
        display: block;
        padding: 30px 0;
        width: 100%;
        top: 90px;
        left: 0;
        background-color: rgba(91, 1, 79, 0.85);
        font-weight: bold;
        opacity: 0;
        z-index: -1;
        transform: translateY(-100%);
        transition: all 0.5s linear;
    }

    #mobileNavContent.show {
        transform: translateY(0);
        opacity: 1;
        z-index: 990;
    }

    #topbanner .slider .content {
        text-align: center;
    }

    #topbanner .slider .img {
        display: none;
    }

    #footer {
        text-align: center;
    }

    #footer .socialbar {
        justify-content: center;
    }

    #sitemap ul {
        width: 100%;
        text-align: center;
    }

    #sitemap ul li {
        display: block;
    }

    #sitemap ul li a {
        display: block;
    }
}
